---
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

// Props definition
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn: string;
  primaryBtnURL: string;
  src: any;
  alt: string;
}

// Destructure props
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  src,
  alt,
} = Astro.props as Props;
---
<div slot="about-me" class="bg-customBlue">
  <section
    class="w-full px-4 py-14 sm:px-6 md:grid md:grid-cols-2 md:items-center md:gap-8 md:py-20 lg:px-8"
  >
    <!-- Hero Image Section -->
    <div class="flex justify-center items-center w-full">
      <div class="top-12 overflow-hidden">
        {src && alt &&
<Image
  src={src}
  alt={alt}
  class="h-50 w-50 max-w-[400px] rounded-full object-cover object-center"
  draggable={"false"}
  loading={"eager"}
  format={"avif"}
/>
        }
      </div>
    </div>

    <!-- Title and description -->
    <div>
<h1
        class="text-3xl font-bold mb-4 text-neutral-800 dark:text-neutral-200"
      >
        About Me
      </h1>
      <p
        class="text-gray-300 mb-4"
      >
      Product Manager at Microsoft for TypeSpec, an open-source API development language. With 15+ years in software development and leadership, I've mentored engineering teams, implemented efficiency-boosting processes, and delivered training globally. I thrive on complex challenges and helping teams excel through better tools, processes, and mentorship.

      </p>
      <p
        class="text-gray-300"
      >
      Outside work, I enjoy exploring St. Louis, Missouri and traveling to new places—recently witnessing the Northern Lights during a week in Iceland!
      </p>

      <!-- Action Button Section -->
      <div class="mt-7">
<a href="/about" class="bg-orange-500 text-white px-4 py-2 rounded mt-4 inline-block hover:bg-orange-600">See My Work</a>
      </div>
    </div>
  </section>
</div>
