---
// PortfolioSection.astro
interface PortfolioItem {
  title: string;
  description: string;
}

const portfolioItems: PortfolioItem[] = [
  {
    title: "APIs at Microsoft",
    description: "Product Manager for TypeSpec, enabling 1P and 3P developers to ship client libraries faster by providing a powerful language for API-first development.",
  },
  {
    title: "Developer Tools at Qualcomm",
    description: "Managed and delivered open-source software development tools for Qualcomm’s DSP, ARM, and RISC-V chip architectures.",
  },
  {
    title: "Global Training at ARM",
    description: "Delivered training sessions worldwide, educating hundreds of developers on ARM’s software tools and Cortex cores.",
  },
];
---

<section class="p-10 bg-gray-800">
<h2 class="text-3xl font-bold mb-4 text-white">Experience</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    {portfolioItems.map((item) => (
      <div class="bg-gray-700 p-4 rounded-lg">
<h3 class="text-xl font-semibold mb-2 text-white">{item.title}</h3>
        <p class="text-gray-400">{item.description}</p>
      </div>
    ))}
  </div>
  <div class="mt-6">
    <p class="text-gray-400">See my complete work history on <a href="https://www.linkedin.com/in/mario-guerra" class="text-blue-400 hover:underline">LinkedIn</a>.</p>
  </div>
</section>
