---
// TestimonialsSection.astro
---

<section class="p-10 bg-gray-900">
<h2 class="text-3xl font-bold mb-4 text-white">What Others Say</h2>
  <div class="bg-gray-700 p-4 rounded-lg mb-4">
    <p class="text-gray-300 italic">
      “I worked with Mario on the strategic positioning of TypeSpec, its features, use cases, and adoption for a few years. Mario was always curious and interested in learning and drove issues through to completion. He really embraced AI and was constantly pushing its limits. I loved learning about this from him.” — Jeffrey Richter, Partner Software Architect at Microsoft
    </p>
  </div>
  <div class="bg-gray-700 p-4 rounded-lg mb-4">
    <p class="text-gray-300 italic">
      "Mario stands out as a thoughtful, intellectually curious, and deeply committed product leader who consistently raised the bar for technical excellence and cross-team collaboration.
      What sets Mario apart, is his learning agility and initiative, especially in emerging areas like AI. He was the first on our team to deeply explore LLMs, even spinning up and managing our own Azure SDK internal ChatGPT instance to accelerate experimentation. He consistently shared insights, tools, and best practices, proactively raising the team's collective understanding and positioning us to better support AI developers at scale." — Justin Bettencourt, Principal Manager - Product Management
    </p>
  </div>
  <div class="bg-gray-700 p-4 rounded-lg mb-4">
    <p class="text-gray-300 italic">
      “A very smart and driven employee. I recommend Mario without hesitation. His expertise, customer focus, and people skills have made him a tremendous asset to our team.” — Lokesh Choudhary, Director of Sales Operations at Juniper Networks
    </p>
  </div>
  <div class="bg-gray-700 p-4 rounded-lg">
    <p class="text-gray-300 italic">
      “[Mario] went beyond his defined technical duties and provided feedback and guidance on other marketing "rollout" issues such as licensing and distribution issues. He is a versatile person and was also an instructor for on-site customer training classes held world-wide.” — Laura Stoner, Deal Desk Advisor | Revenue Operations
    </p>
  </div>
</section>
