---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";
import avatar from "src/images/Mario_Guerra_avatar.png";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="flex-shrink-0">
  <Image
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={avatar}
    alt={`Image for ${blogEntry.data.title}`}
    draggable={"false"}
    draggable={"false"}
    loading={"eager"}
  />
</div>
