---
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import { Image } from "astro:assets";
import avatarImage from "@images/mario-avatar-300x300.png";
import CTASection from "@components/sections/landing/CTASection.astro";

const pageTitle = `About Me`;
---

<MainLayout title={pageTitle}>
    <section
        slot="blog"
        class="mx-auto max-w-3xl px-1 pb-1 pt-1 sm:px-1 lg:px-1 lg:pt-1 flex flex-col sm:flex-row items-start"
    >
        <div class="w-full sm:w-1/4 sm:pr-6 mb-4 sm:mb-0 flex justify-center sm:block ">
            <div class="top-12 overflow-hidden w-1/2 sm:w-full">
                <Image
                    src={avatarImage}
                    alt="Mario Guerra Portrait"
                    class="h-full w-full object-cover object-center rounded-full"
                    draggable={"false"}
                    loading={"eager"}
                    format={"avif"}
                />
            </div>
        </div>

        <div class="w-full sm:w-3/4">
            <h1 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 mb-6">About Me</h1>
            <p class="text-neutral-700 dark:text-neutral-400 mb-8">I enjoy helping people build high quality software. <span class="font-semibold">How can I help you?</span></p>

              <div class="bg-gray-50 dark:bg-neutral-800 rounded-md p-6 mb-8">
            <h2 class="text-2xl font-semibold text-neutral-800 dark:text-neutral-200 mb-4">Mario Guerra</h2>
            <p class="text-neutral-700 dark:text-neutral-400 mb-2"><span class="font-semibold text-primary-600 dark:text-primary-400">AI Enthusiast</span></p>
            <p class="text-neutral-700 dark:text-neutral-400 mb-4">
                I'm a Product Manager at Microsoft, working on Azure SDK products. My role involves helping customers bring their cloud-based visions to life while also guiding the Azure team in developing the next groundbreaking features.
            </p>
            <p class="text-neutral-700 dark:text-neutral-400 mb-4">
              I <span class="font-semibold">firmly believe</span> that developers should be empowered, not hindered, by their tools, frameworks, and processes.
             </p>

            <p class="text-neutral-700 dark:text-neutral-400 mb-4">
                My passion for technology extends beyond my primary role. I have a particular interest in generative AI and its potential to solve complex problems creatively. This fascination has led me to develop several tools that have significantly improved our internal efficiency and customer experience at Microsoft.
            </p>
              </div>
            <h3 class="text-xl font-semibold text-neutral-800 dark:text-neutral-200 mb-4">Here are a few highlights of my work:</h3>
             <ul class="list-disc list-inside mb-8">
                <li class="text-neutral-700 dark:text-neutral-400 mb-2">Developed a container-based ChatGPT clone for internal team use, powered by frontier chat models deployed in Azure, enhancing team communication and collaboration.</li>
                <li class="text-neutral-700 dark:text-neutral-400 mb-2">Created a Teams meeting summarization tool, a precursor to <span class="font-medium">Copilot</span>, known for producing high-quality summaries.</li>
                <li class="text-neutral-700 dark:text-neutral-400 mb-2">Designed an audio recording translation/transcription workflow, capable of converting spoken language into written text in a different language, thereby improving accessibility and understanding.</li>
                <li class="text-neutral-700 dark:text-neutral-400 mb-2">Built an Azure-specific VS Code chat agent extension powered by retrieval-augmented generation (<span class="font-medium">RAG</span>). This feature has been integrated into GitHub Copilot to enable more advanced searches.</li>
                <li class="text-neutral-700 dark:text-neutral-400 mb-2">Implemented a RAG-based bot that answers questions about TypeSpec using Q&A content exported from our internal TypeSpec discussion channel, improving knowledge sharing and accessibility.</li>
            </ul>

            <p class="text-neutral-700 dark:text-neutral-400 mb-4">My commitment to using the right tools for the job, automating wherever possible, and applying just the right amount of process to keep projects on track, has been the cornerstone of my success. <span class="font-semibold">I take great pleasure in helping others build high-quality software.</span></p>

            <p class="text-neutral-700 dark:text-neutral-400">How can I help you build something amazing?</p>

           <h2 class="text-2xl font-semibold text-neutral-800 dark:text-neutral-200 mb-4 mt-8">Contact Me</h2>
            <footer class="mb-4">
                 <ul class="text-neutral-700 dark:text-neutral-400 text-lg">
<li>X: <a href="https://x.com/_marioguerra_" class="text-blue-600 dark:text-blue-400 hover:underline">https://x.com/_marioguerra_</a></li>
                    <li>LinkedIn: <a href="https://www.linkedin.com/in/mario-guerra/" class="text-blue-600 dark:text-blue-400 hover:underline">https://www.linkedin.com/in/mario-guerra/</a></li>
                </ul>
            </footer>
        </div>
    </section>
        <CTASection slot="call-to-action"
         title="Ready to build something amazing?"
         description="Let's discuss your project. I can help you achieve your goals by providing a mix of high-level and implementation-level advice."
         buttonText="Get in Touch"
         buttonLink="/contact"
     />
</MainLayout>
