---
import MainLayout from "@/layouts/MainLayout.astro";
import APIGuidelines from "@/components/sections/misc/APIGuidelines.astro";
import fs from "fs";

// Read the content of the markdown file
const content = fs.readFileSync("./src/content/guidelines/api_guidelines.md", "utf-8");
---

<MainLayout title="API Design Guidelines">
  <div slot="about-me">
<h1 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 mb-4 text-center">API Design Guidelines</h1>
<img src="/src/images/API_Design.jpeg" alt="API Design Hero Image" class="w-2/3 h-auto mb-8 mx-auto" />
<APIGuidelines content={content} />
  </div>
</MainLayout>
