---
import MainLayout from "@/layouts/MainLayout.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import FormSubmitButton from "@components/ui/buttons/FormSubmitButton.astro";
import { SITE } from "@data/constants";
import { Image } from "astro:assets";
import avatarImage from "@images/mario-avatar-300x300.png";

const pageTitle = `Contact | ${SITE.title}`;
---

<MainLayout title={pageTitle}>
  <section
    slot="blog"
    class="mx-auto max-w-3xl px-1 pb-1 pt-1 sm:px-1 lg:px-1 lg:pt-1 flex flex-col sm:flex-row items-start"
  >
  <div class="w-full sm:w-1/4 sm:pr-6 mb-4 sm:mb-0 flex justify-center sm:block ">
    <div class="top-12 overflow-hidden w-1/2 sm:w-full">
        <Image
            src={avatarImage}
            alt="Mario Guerra Portrait"
             class="h-full w-full object-cover object-center rounded-full"
            draggable={"false"}
            loading={"eager"}
            format={"avif"}
            />
       </div>
    </div>
    <div class="w-full sm:w-3/4">
      <h1 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200">Let's talk.</h1>
        <p class="text-neutral-700 dark:text-neutral-400">
          I'm available for consulting on a limited basis, with an emphasis on applications involving generative AI.
        </p>
        <p class="text-neutral-700 dark:text-neutral-400">
          Please provide details about your project needs and the best way to reach you. How can I help your software project succeed?
        </p>

      <form
        id="contactForm"
        method="POST"
        action="https://submit-form.com/X2aGOKKt9"
        class="mt-8"
      >
         <div id="websiteDetailsContainer">
           <label id="websiteDetailsLabel" for="websiteDetails">Website Details</label>
            <input type="text" name="websiteDetails" id="websiteDetails" />
         </div>
        <TextInput label="Name" name="name" required />
        <EmailContactInput label="Email" name="email" required />
        <TextAreaInput label="Comment or Message" name="message" required rows={5} />
         <div class="mt-4 flex items-center justify-between">
          <div class="flex items-center">
            <input type="checkbox" id="human" name="human" class="mr-2" required/>
            <label for="human" class="text-neutral-700 dark:text-neutral-400">I am human</label>
           </div>
           <a href="#" class="text-gray-500 underline">
               hCaptcha
            Privacy - Terms
            </a>
         </div>
        <div class="mt-6">
          <FormSubmitButton title="Submit" type="submit"/>
        </div>
    </form>
    </div>
  </section>
</MainLayout>

<script>
  function generateRandomString(length: number) {
      const characters = 'abcdefghijklmnopqrstuvwxyz';
      let result = '';
      for (let i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() * characters.length));
      }
      return result;
   }


 const form = document.getElementById('contactForm');
 const websiteDetailsContainer = document.getElementById('websiteDetailsContainer');

  const randomInputName = generateRandomString(10);
  const randomClassName = generateRandomString(10);

 const websiteDetailsLabel = document.getElementById('websiteDetailsLabel');
 const websiteDetails = document.getElementById('websiteDetails') as HTMLInputElement;
 if (websiteDetails) {
    websiteDetails.id = randomInputName;
    websiteDetails.name = randomInputName;
    if (websiteDetailsLabel) {
        websiteDetailsLabel.setAttribute('for', randomInputName);
    }
 }
   if (websiteDetailsContainer) {
       websiteDetailsContainer.classList.add(randomClassName);
   }
    const style = document.createElement('style');
    style.innerHTML = `.${randomClassName} { display: none !important; }`;
    document.head.appendChild(style);


    const formStartTime = new Date().getTime();
    if (form) {
        form.addEventListener('submit', function(event) {
      const submissionTime = new Date().getTime() - formStartTime;
       if (websiteDetails.value) {
            event.preventDefault();
            return;
        }
        if (submissionTime < 1000) {
            event.preventDefault();
            return;
        }
        const humanCheckbox = document.getElementById('human') as HTMLInputElement;
        if(humanCheckbox && !humanCheckbox.checked) {
             event.preventDefault();
             return;
        }
    const jsInput = document.createElement('input');
    jsInput.type = 'hidden';
    jsInput.name = 'js_input';
    jsInput.value = 'js_present';

   if (!document.getElementById('js_present_input')) {
    form.appendChild(jsInput);
   }


   if(!document.querySelector('[name="js_input"]')) {
    event.preventDefault()
       return
    }
  });
}
</script>