---
import MainLayout from "@/layouts/MainLayout.astro";
import CardDocumentation from "@components/ui/cards/CardDocumentation.astro";

import { getCollection } from "astro:content";

const documentationEntries = await getCollection("documentation");

---

<MainLayout title="Documentation">
  <div slot="hero">
    <section
      class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
    >
      <div class="grid gap-6 lg:grid-cols-2">
        {documentationEntries.map((entry) => (
          <CardDocumentation
            doc={{
              title: entry.data.title,
              description: entry.data.description,
              url: `/documentation/${entry.slug}`,
              heroImage: entry.data.heroImage,
            }}
          />
        ))}
      </div>
    </section>
  </div>
</MainLayout>
