---
import MainLayout from "@/layouts/MainLayout.astro";
import CardVideo from "@components/ui/cards/CardVideo.astro";
import CardVideoFeatured from "@components/ui/cards/CardVideoFeatured.astro";
import videosData from "../data_files/videos.json";

const { featured, videos } = videosData;
---

<MainLayout>
  <div slot="hero">

  <!-- Featured video -->
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <CardVideoFeatured video={featured} />
  </section>

  <!-- Videos grid -->
  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="grid gap-6 lg:grid-cols-2">
      {videos.map((video) => (
        <CardVideo video={video} />
      ))}
    </div>
  </section>
  </div>
</MainLayout>
