---
const { video } = Astro.props;
---

<div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 sm:items-center">
  <div class="sm:order-2">
    <div class="relative rounded-lg aspect-w-16 aspect-h-9 sm:aspect-w-auto sm:aspect-h-auto">
      <iframe
        width="560"
        height="315"
        src={`https://www.youtube.com/embed/${new URL(video.url).pathname.split('/').pop()}`}
        title={`Featured video: ${video.title}`}
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="sm:order-1">
    <h2
      class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight"
    >
      {video.title}
    </h2>
    <p class="mt-4 text-pretty text-neutral-600 dark:text-neutral-400">
      {video.description}
    </p>
  </div>
</div>
